.bg-2{
    background-color: #fcfcfc;
}

.page{
    min-height: 100vh;
}

.sayfa{
    padding: 2rem;
}

.siparis-list{
    .grid{
        display: grid;
        grid-template-columns: 130px 200px 200px 200px 200px 200px;

    }
    &__item{
        background-color: white;
        border: 1px solid #eaeaea;
        padding: 1rem;
      
        border-top: none;

        &:first-child{
            border-top: 1px solid #eaeaea;
        }
        img{
            
            width: 130px;
            height: 130px;
            object-fit: cover;
        };
    }
} 

.masa-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;   

    .masa{
        background-color: white;
        border-radius: 2px;
        align-items: center;
        justify-content: center;
        height: 200px;
        .number{

        }
    }
}



body {
    background-color: #f9f9fa
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 5rem
}

.card {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none
}

.pl-3,
.px-3 {
    padding-left: 1rem !important
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 0
}

.card .card-title {
    color: #000000;
    margin-bottom: 0.625rem;
    text-transform: capitalize;
    font-size: 0.875rem;
    font-weight: 500
}

.card .card-description {
    margin-bottom: .875rem;
    font-weight: 400;
    color: #76838f
}

p {
    font-size: 0.875rem;
    margin-bottom: .5rem;
    line-height: 1.5rem
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.table,
.jsgrid .jsgrid-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent
}

.table thead th,
.jsgrid .jsgrid-table thead th {
    border-top: 0;
    border-bottom-width: 1px;
    font-weight: 500;
    font-size: .875rem;
    text-transform: uppercase
}

.table td,
.jsgrid .jsgrid-table td {
    font-size: 0.875rem;
    padding: .875rem 0.9375rem
}

.badge {
    border-radius: 0;
    font-size: 12px;
    line-height: 1;
    padding: .375rem .5625rem;
    font-weight: normal
}

.sekme{
    display: flex;
    
    .active{
      
        background-color: white;
    }
    &__item {
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
        background-color: #eee;
        cursor: pointer;


        &:first-child{
            border-top: 1px solid #eaeaea;
            border-left: 1px solid #eaeaea;
        }
    }
}

.file-select{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2rem 0;
}

.admin-head-banner{
    background-color: rgba(#666d92,0.1);
    display: flex;
    border-radius: 8px;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0 5px 20px rgb(146 153 184 / 3%);
    min-height: 280px;
    img{
        bottom: 0;
        right: 1rem;
    }
}
.bg-yesil{
    background-color: #2ecc71;
}
.bg-mavi{
    background-color: #2980b9;
}
.bg-orange{
    background-color: #f39c12;
}
.box{
    &:hover{
        filter: brightness(1.1);
        cursor: pointer;
    }
    padding: 1.5rem ;
    border-radius: 5px;
    .val{
        font-size: bold;
        margin-top: 2rem;
        font-size: 2rem;
        color: white;
    }

    .key{
        color: white;
        opacity: 0.8;
        font-size: 0.8rem;
    }
}


.linkbtn{
    border: none;
    outline: none;
    background-color: transparent;
}


.datatable-td{
    padding:0.6rem;
    color: #44444A;
    font-size: 13px;
    
}

tr{
    margin-bottom: 0.5rem;
}

.add-car-button{
    transition: .2s;
    cursor: pointer;
    &:hover{
        transform: translate(0px,-2px);
    }
}
.table-header-border{
    background-color: #888c9f ;
    opacity: 0.4;
    width: 50%;
    height: 0.5px;
    margin: 0.3rem 0;

}
.table-header-buttons{
    display: flex;
    align-items: center;
 
    &::-webkit-scrollbar{
        width: 8px;
        height: 2px !important;
        }

    .active{
        font-weight: 600;
        color: #7075F6;
        &:hover{
            background-color: transparent !important;
            color: red !important;
        }
    }
    button{
        white-space: nowrap;
        background: transparent;
        border: none;
        outline: none;
        color: #888C9F;
        font-weight: 500;
        border-radius: 4px;
        user-select: none !important;
        transition: .2s;
        font-size: 16px;
        &:hover{
            background:#888c9f34 ;
            color: #555;
        }
    }
}

.istek{
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 100px;
    background-color: white;
    border-radius: 7px;
    margin-bottom: 1rem;

    .sol{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3498db;
        color: white;
        font-size: 3rem;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    .islem{
        background-color: #f9f9fa;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;

        button{
            border-radius: 1000px;
            width: 50px;
            height: 50px;
            border: none;
            outline: none;
            transition: .2s;
            background-color: #2ecc71;
          
            &:hover{
                transform: scale(0.9);
            }

            &:active{
                background-color: #1aa856;

            }

            svg{fill:white}
        }
    }
    .sag{
        padding: 0.2rem 1rem;
        .istiyor{
            font-size: 1.5rem;    line-height: 100%;
            font-weight: bold;
        }
        .sunu{
            color: #cacaca;
            font-size: 1.2rem;
        }
    }
    
}

.disabled-istek{
    position: relative;
    &::before{
        content: "Güncelleniyor...";
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: rgba(#fff,0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
    }
}


.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}


.yorum-box{
    display: flex;
    align-items: center;
    background-color: #fafafa;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 8px;

    .sol{
       display: flex;
       justify-content: center;
       align-items: center;
    }

    .sag{
        margin-left: 2rem;

        p{
            margin: 0;
            font-size: 14px;

        }
    }
    .pp{
        border-radius: 100px;
        background-color: white;
        width: 50px;
        height:50px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            width: 30px;
        }
    }
}


.h-97{
    height: 97px !important;
}
.h-50{
    height: 50px !important;
}
.skeleton-box {
    width: 100%;
    display: inline-block;
    height: 1em;
    position: relative;
    overflow: hidden;
    background-color: #DDDBDD;
    border-radius: 1px;
  
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
        90deg,
        rgba(#fff, 0) 0,
        rgba(#fff, 0.2) 20%,
        rgba(#fff, 0.5) 60%,
        rgba(#fff, 0)
      );
      animation: shimmer .5s infinite;
      content: '';
    }
  
    @keyframes shimmer {
      100% {
        transform: translateX(100%);
      }
    }
  }

  .kutu{
    background-color: white;
    border-radius: 8px;
 box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.08);
}



/*****////***********//@at-root



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .istek{
        grid-template-columns: 70px 1fr 70px;
        .sol{
            
            font-size: 1.5rem !important;
        }
        .istiyor,.sunu{
            font-size: 1rem !important ;
        }
    }
    .sayfa{
        padding: 0.5rem !important;
    }
    .siparis-list__item{
        .instabtn{
            grid-gap: 0.5rem 0.5rem;

            button{
            width: 100% !important;
        }
        } 
        .insta.text-center{
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: left !important;
            margin-bottom: 0.4rem;

            p{            text-align: left !important;
            }
        }
        img{
            width: 100%;

          
        }

        .sol{
            margin: 0 !important;
        }
    }
    .siparis-list{
        .grid{
            display: flex !important;
            flex-direction: column !important;
        }
    }
    .is{
        .btn-group{flex-wrap: wrap;justify-content: space-between;width: 100%;}
        .btn-group button{
            font-size: 14px;
            border-radius: 4px !important;
            margin-top: 0.5rem;
        }

        p{
            text-align: center;
        }
    }

      .box{
          padding: 0.3rem;

          .val{
              font-size: 1rem;
              margin-top: 0.3rem;
          }
      }
.admin-head-banner  {
    min-height: unset !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem;
    .sag{
        display: none;
    }

    p{
        display: none;
    }
}
   .sidebar{
       display: none;
   }

   .mobil-header{
       display: flex !important;
       
   }
    
  }


  .mobil-header{
      display: none;
      align-items: center;
      background-color: white;
      height: 80px;
      position: sticky;
      top: 0;
      z-index: 100000;
      padding:0px 10px;

      .logo {
        margin-left: 1rem;
        img{
            width: 160px;
        }
      }

      .burger{
          width: 40px;

          .line{
              height: 4px;
              background-color: black;
              border-radius: 2px;

              &:nth-child(2){
                  margin: 10px 0;
              }
          }
      }
  }

  .easy-nav{
    box-shadow: rgb(0 0 0 / 13%) 0px 1.6px 3.6px 0px, rgb(0 0 0 / 11%) 0px 0.3px 0.9px 0px;
    border-radius: 8px;
    display: flex;
    background-color: white;
    padding: 8px;
    margin-bottom: 1rem;
    align-items: center;
    .sol{
        margin-left: 1rem;
    }
    i{
        color:rgb(0, 111, 201);
        font-size: 24px;
    }

    .sag{
        margin-left: 1rem;
        .title{
            font-size: 14px;
            font-weight: bold;
            color: #323130;
            text-align: left;
        }

        .desc{
            text-align: left;
            font-size: 12px;
            color: #605e5c;
        }
    }
  }

  .destek{
      min-height: 40px;
      align-items: center;
      border-radius: 8px;
      box-shadow: rgb(0 0 0 / 13%) 0px 1.6px 3.6px 0px, rgb(0 0 0 / 11%) 0px 0.3px 0.9px 0px;
        padding: 8px 13px;
        background: rgb(80,178,255);
        background: linear-gradient(90deg, rgba(80,178,255,1) 0%, rgba(0,125,255,1) 100%);
    .title{
        font-weight: bold;
        font-size: 22px;
        color: white
    }
    .desc{
        font-size: 18px;
        opacity: 0.7;
        color: white;
        line-height: 90%;
    }

    i{
        font-size: 27px;
        color: white;
    }

    .sol{
        margin-left: 1rem;
    }
}

.mobil-side-bg{
    position: fixed;
    width: 100%;
    height: calc(100%  - 80px);
    top:80px;
    left: 0;
    background-color: rgba(#000,0.7);
    z-index: 100000;
    animation: bg 1s;

    .side{
        overflow-y: scroll;
        background-color: white;
        width: 70%;
        height: 100%;
        animation: kay .5s;
    }
}

@keyframes bg{
    from{
        background-color: rgba(#000,0);;
    }
}

@keyframes kay{
    from{
        opacity: 0;
        transform: translate(-40%,0);
    }
}

